.overdueDeviceRowStyle{
background-color: #FF0000;
}

.inTimeDeviceRowStyle{
background-color: #FFFF00;
}

.rentEventRowStyle {
	background-color: #FFFF00;
}

.returnEventRowtyle {
	background-color: #7FFF00;
}