/* Overview Page styles*/
.overdueDeviceRowStyle {
	background-color: #FF0000;
}

.inTimeDeviceRowStyle {
	background-color: #FFFF00;
}

.rentEventRowStyle {
	background-color: #FFFF00;
}

.returnEventRowtyle {
	background-color: #33BD22;
}

.deviceNameStyle {
	font-weight: bold;
	font-size: larger;
}

.deviceImeiStyle{
	font-weight: bold;
}